._card {
  width: calc(100vw - 3rem);
  height: calc(100vh - 3rem);
  padding: 1.5rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background: url("../../../assets/images/img/bg.jpg"); */
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.113);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(10px);
  margin: auto;
  -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
}

._card .card_img {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

._card .card_img ._like {
  position: absolute;
  top: 0;
  right: 0;
}
