.menu {
  height: 100%;
  width: 100vw;
  /* background: linear-gradient(
    45deg,
    rgb(8, 0, 100) 32%,
    rgba(131, 0, 39, 0.72) 100%
  ); */
  background: url("../../assets/images/img/bg_mobile2.jpg");
  backdrop-filter: brightness(0.7rem);
  -webkit-backdrop-filter: brightness(40px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.top__navbar {
  z-index: 10;
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.475);
  width: 35%;
  height: 2.8rem;
  margin: 0 auto;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 1.5px 0px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 1.5px 0px rgb(255, 255, 255);
  box-shadow: 0px 0px 1.5px 0px rgb(188, 188, 188);
  -webkit-backdrop-filter: blur(10px);
}

.search_item {
  width: 70%;
  padding: 0 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 0.5rem; */
}
.search_item p {
  padding: 0.5rem;
  font-size: 0.6rem;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  color: rgba(255, 0, 179, 0.815);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  -moz-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
}

.top__navbar {
  padding: 0.2rem;
}

.top__navbar .icon {
  background: transparent;
  padding: 0.2rem;
  font-size: 1.2rem;
  border-radius: 50%;
}

.buttom__navbar .icon {
  background: transparent;
  place-items: center;
  padding: 0.4rem;
  font-size: 1.6rem;
  border-radius: 50%;

  /* transition: all 300ms ease; */
}

input {
  padding: 0.4rem;
  border-radius: 3rem;
  background-color: transparent;
  /* -webkit-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160); */
  /* -moz-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160); */
  /* box-shadow: 0px 0px 8px 0px rgb(142, 2, 160); */
  outline: none;
  color: #f3f3f3c6;
}

/* BUTTOM NAVBAR */

.buttom__navbar {
  position: fixed;
  padding: 0.6rem 1rem;
  bottom: 0rem !important;
  left: 50%;
  width: 230px;
  height: 2.5rem;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: space-between;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 8px 0px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 8px 0px rgb(0, 0, 0);
  box-shadow: 0px 0px 8px 0px rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.buttom__navbar a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(141, 41, 108, 0.838);
  -webkit-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  -moz-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  border-radius: 50%;
  transition: all 150ms ease;
  z-index: 10 !important;
  /* width: 100%; */
}
.buttom__navbar .active {
  border: solid rgba(228, 0, 140, 0.775) 2px;
  color: rgba(228, 0, 140, 0.775);
}

.food {
  width: 100vw;
  height: calc(100vh - 6rem);
  position: absolute;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  width: 100%;
  position: absolute;
  top: 1.2rem;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  text-align: center;
  /* row-gap: 2rem; */
  border-radius: 2rem;
  transition: transform 0.3s ease;
}

.category a {
  color: rgb(209, 210, 211);
  padding: 0.4rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
}

.food .category .active {
  background: #980075;
  border: 1px solid rgb(185, 185, 185);
}

/* .products {
  width: calc(3 * 6.8rem + 4rem);
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr) !important;
  margin: auto;
  margin-top: 0.5rem;
  gap: 0.4rem 0;
  z-index: -1 !important;
} */

.flamingo {
  color: rgba(255, 0, 179, 0.815);
  -webkit-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  -moz-box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  box-shadow: 0px 0px 8px 0px rgb(142, 2, 160);
  margin-left: 0.5rem;
}
.product_grid {
  width: 100%;
  margin-top: 4.2rem;
  display: grid;
  grid-template-columns: repeat(7, auto);
  /* gap: 1rem; */
  transition: transform 0.3s ease;
}

/* MEDİA SCREEN */
@media screen and (max-width: 900px) {
  .top__navbar {
    top: 0;
    width: 100%;
    border-radius: 0;
  }
  .search_item {
    padding-right: 1rem;
  }

  .product_grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .food {
    top: calc(4rem - 10px);
  }
}

@media screen and (max-width: 600px) {
  .menu {
    /* Mobil cihazlarda menüyü ekranın tamamını kaplayacak şekilde yeniden boyutlandır */
    height: 100vh;
    width: 100%;
  }

  .product_grid {
    grid-template-columns: repeat(3, auto);
  }
}
